.pageCardSubmitButton {
  height: 50px;
  width: 100%;
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonText {
  text-align: center;
  /* width: 50px; */
  font-size: 16px;
  /* text-align: center; */
  height: 25px;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0;
  background: rgb(75, 175, 75);
  color: #ffffff;
  font-weight: bold;
}
