.pageCardLeftContainer {
  width: 46%;
  background-color: rgb(37, 117, 86);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-size: cover;
}

#pageCardLeftContainerImage {
  height: 100%;
  width: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
