h1 {
  color: black;
  font-size: 50px;
}

/* .pageCardRightContainer {
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
} */

.pageCardRightContainer {
  width: 54%;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.pageCardButtonContainer {
  padding: 0px 60px;
}
