.authPageCardWrapper {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.authPageCardContainer {
  display: flex;
  flex-direction: row;
  height: 550px;
  width: 840px;
}

.leftCard {
  /* position: relative; */
  width: 46%;
  background-color: rgb(37, 117, 86);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-size: cover;
}

.rightCard {
  /* position: relative; */
  width: 54%;
  background-color: #ffffff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
