h1 {
  font-size: 28px;
  color: rgb(48, 187, 168);
  font-weight: 800;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  margin-top: -18px;
  transform: scale(1, 0.8);
}

.pageCardHeader {
  margin-top: 30px;
  /* justify-content: center; */
  text-align: center;
}
