.textInputFieldContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  padding: 10px 60px;
  margin-bottom: -25px;
}

.textInputFieldContainer label {
  flex: 4;
  font-size: 15px;
  font-weight: 700;
  color: rgb(107, 107, 107);
  padding: 15px 0;
}

.textInputFieldContainer input {
  flex: 10;
  border: none;
  background-color: rgb(245, 244, 244);
  padding: 15px;
  border-radius: 5px;
  /* height: 30px; */
  /* margin: 20px 0; */
}

.textInputFieldContainer input::placeholder {
  color: rgb(177, 177, 177);
  font-size: 13px;
}
